doctype
html
    head
        title #{title}
        link(href="/css/normalize.css",rel="stylesheet")
        link(href="/css/mobile.css",rel="stylesheet")
        script(src="/js/mobile640.js")
    body
        input(type="hidden",value=vid,id="vid")
        .content
            .video#video
    script(src="/vendor/js/jquery-3.2.1.min.js")
    script(src="/vendor/js/moment.min.js")
    script(type="text/javascript" src="//player.youku.com/jsapi")
    script(src="/js/mobile.js")

