extends layout/layout

block css
    <!-- libraries -->
    link(href="/vendor/css/lib/jquery-ui-1.10.2.custom.css",rel="stylesheet")
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/index.css",rel="stylesheet",media="screen")
    <!-- lato font -->
    link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic",rel="stylesheet")
block content
    .content
        h1 Welcome #{admin.name}