html,body,h3{
  margin:0;
  padding:0;
}
iframe{
  display:block;
  margin:0 auto;
  padding:0;
}
.content{
  margin:0 auto;
  position:relative;
  width:600px;
  height:700px;
}
.title{
  height:50px;
  line-height:50px;
}
.videoIdBox{
  position:absolute;
  top:0;
  left:0;
  width:600px;
  height:700px;
  overflow-x:hidden ;
  overflow-y: scroll;
  background:rgba(0,0,0,.7);
  display:none;
  .videoId{
    width:600px;
    height:40px;
    line-height:40px;
    text-align: center;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    &:first-child{
      margin-top:50px;
    }
  }
  .close{
    position:absolute;
    right:0;
    top:0;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    cursor:pointer;
  }
}
.buttons{
  height:50px;
  line-height:50px;
  a{
    text-decoration: none;
  }
}